<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Essay App</title>
    {% load static %}
    {% load socialaccount %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <div class="container">
            <h1>Essay App</h1>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'essay_list' %}">History</a></li>
                    <li><a href="{% url 'submit_essay' %}">Add New Essay</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <!--
                    <li><a href="{% provider_login_url 'google' %}?next=/">Login with Google</a></li>
                    -->
                    <li>test</li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Essay App , Dhruv Sharma , ds7042@rit.edu , +1 585 - 606 - 1737</p>
        </div>
    </footer>
</body>

</html>