
{% extends 'base.html' %}

{% block content %}
    {%load socialaccount %}    
    <h2>ESSAY APP LOGIN</h2>
    <p>
        Welcome to the Essay App! This platform allows you to submit your essays and receive detailed feedback on spelling mistakes, content relevance, and overall quality. To get started, log in with your Google account, submit your essay, and view the feedback provided. You can also review your submission history and manage your essays conveniently. Enjoy an enhanced writing experience!
    </p>
{% endblock %}

